# Build
bin/
obj/
*.dll
*.pdb
*.cache

# Visual Studio
.vs/
*.suo 
*.user
*.userosscache
*.sln.docstates

# Visual Studio build artifacts
bin/
obj/
.vs/
*.dll
*.pdb
*.cache
project.assets.json
*.nuget.dgspec.json
DAL/obj/DAL.csproj.nuget.dgspec.json
DAL/obj/DAL.csproj.nuget.dgspec.json
DAL/obj/Debug/net8.0/DAL.AssemblyInfo.cs
WebNameProjectOfSWD/obj/Debug/net8.0/rpswa.dswa.cache.json
WebNameProjectOfSWD/obj/Debug/net8.0/rpswa.dswa.cache.json
WebNameProjectOfSWD/obj/Debug/net8.0/WebNameProjectOfSWD.AssemblyInfo.cs
BLL/obj/Debug/net8.0/BLL.AssemblyInfo.cs
BLL/obj/Debug/net8.0/BLL.AssemblyInfo.cs
DAL/obj/Debug/net8.0/DAL.AssemblyInfo.cs
WebNameProjectOfSWD/obj/Debug/net8.0/WebNameProjectOfSWD.AssemblyInfo.cs
